<html>
    <head>
    <link rel="stylesheet" href="effects.css">
    <link rel="stylesheet" href="Wireframe.css">
    </head>
    <body>
        <header>
            <a href="index.html">
                Rosia Evans
            </a>
        </header>
        <main>
            <nav>
            <h2 id="contactsHeader"> Contact me: </h2>
            <div class="contacts">
                <a href="mailto:rosiaeevans@gmail.com">Email</a>
                <a href="https://fosstodon.org/@Wi__Ro" rel="me">Mastodon</a>
                <a href="https://github.com/Wil-Ro">Github</a>
            </div>
            </nav>
            <article>
            </article>
        </main>
        <div class="webring">
        <h2> Webring </h2>
        <div class="webringContent">
            <a href="https://users.aber.ac.uk/evh14"><-</a>
            <img src="webringlogo.svg" style="margin: 0; width: 19px;">
            <a href="https://dannylarge144.github.io">-></a>
        </div>
        </div>
    </body>
</html>
