<html>
    <head>
    <link id="colors" rel="stylesheet" href="lightColors.css">
    <link rel="stylesheet" href="effects.css">
    <link rel="stylesheet" href="Wireframe.css">
    <script src="colorThemes.js"></script>
    <title>Rosia Evans Homepage and Blog</Title>
    <link rel="icon" href="willow.ico" type="image/x-icon"/>
    </head>
    <body>
        <header>
            <a href="index.html">
                Rosia Evans
            </a>
        </header>
        <main>
            <nav>
            <hr>
            <h2 id="contactsHeader"> Contact Me: </h2>
            <div class="contacts">
                <a href="mailto:rosiaeevans@gmail.com">Email</a>
                <a href="https://cathode.church/@DressOrc" rel="me">Mastodon</a>
            </div>
            <h2 id="contactsHeader"> My Work: </h2>
            <div class="contacts">
                <a href="https://repos.rosia.me/DressOrc">Git Repos</a>
                <a href="CV.pdf">CV</a>
            </div>
            
            <h2 id="contactsHeader"> Website Details: </h2>
            <div>
                <a href="feed.xml">rss/atom feed</a>
                <div>Page Theme:</div>
                <select id="pageColor" onchange="updateColor()">
                <option value="lightColors.css">Light</option>
                <option value="darkColors.css">Dark/Low Contrast</option>
                </select>
            </div>
            </nav>
            <article>
            </article>
        </main>
        <div class="webring">
        <h2> Webrings </h2>
            <div class="webringContent">
                <a href="https://aberwebr.ing/rosia/left"><-</a>
                <a href="https://aberwebr.ing/"> aber_webring </a>
                <a href="https://aberwebr.ing/rosia/right">-></a>
            </div>

            <div class="webringContent">
                <a href="https://fediring.net/previous?host=rosia.me"><-</a>
                <a href="https://fediring.net/"> fediring </a>
                <a href="https://fediring.net/next?host=rosia.me">-></a>
            </div>
        </div>
    </body>
</html>
