<html>
    <head>
    <link rel="stylesheet" href="Wireframe.css">
    <link rel="stylesheet" href="effects.css">
    </head>
    <body>
        <header>
            <a href="index.html">
                Rosia Evans
            </a>
        </header>
        <main>
            <nav>
            <h2 id="contactsHeader"> Contact me: </h2>
            <div class="contacts">
                <a href="mailto:rosiaeevans@gmail.com">Email</a>
                <a href="https://fosstodon.org/@Wi__Ro" rel="me">Mastodon</a>
                <a href="https://github.com/Wil-Ro">Github</a>
            </div>
            </nav>
            <article>
            </article>
        </main>
        <div>
    </body>
</html>
